<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">

 <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
  <div class="collapse navbar-collapse" id="navbarCollapse" >
    <ul class="navbar-nav mr-auto" *ngIf="cases">

      <li class="nav-item">
        <a class="nav-link text-info">Open Cases:</a>
      </li>

      <li class="nav-item" *ngFor="let c of cases; let idx = index;"  >
        <a class="nav-link" (contextmenu)="onRemoveCaseItem($event, idx)"
           href="#" [routerLink]="['case', c.sha256]">{{c.identifier}}

          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>


