



  <!-- First Row -->
  Add Knowledge:

    <div class="col-12">
      <input
        type="text"
        class="form-control"
        placeholder="Ex: 8.8.8.8 | vg.no | http://vg.no"
        [(ngModel)]="caseSourceInput"
        (keyup)="addKnowledge($event)">
    </div>

  <!-- Second Row -->
  <div class="col-12">

    <div class="form-group">
      <label for="exampleFormControlSelect2">Primary Target:</label>
      <select [(ngModel)]="case.source" class="form-control" id="exampleFormControlSelect3">
        <option *ngFor="let caseItem of case.objects" [ngValue]="caseItem">{{caseItem.type}} - {{caseItem.name}}</option>
      </select>
    </div>

  </div>


  <!-- Third Row -->

  <div class="col-12">
    <button class="btn btn-success btn-md form-control" (click)="submitAnalysis()">Create Analysis</button>
  </div>


  <!-- Second Row -->
    <div class="col-12">

      <div class="form-group">
        <label for="exampleFormControlSelect2">Objects</label>
        <select [(ngModel)]="case.objects" multiple class="form-control" id="exampleFormControlSelect2">
          <option *ngFor="let caseItem of case.objects" [ngValue]="caseItem">{{caseItem.type}} - {{caseItem.name}}</option>
        </select>
      </div>

    </div>













