
    <div class="col-12">

      <form [formGroup]="case" class="mat-form">

        <mat-form-field>
          <input matInput type="text" placeholder="Ex: 8.8.8.8 | vg.no | http://vg.no" formControlName="input" (keyup.enter)="addObject()" (keyup.arrowdown)="addObject()">
          <mat-error *ngIf="case.get('input')?.invalid">Must be IP, Domain, URL or SHA256</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Root Object" formControlName="root">
            <mat-option *ngFor="let object of case.get('objects').value" [value]="object">{{object.name}} - ({{object.type}})</mat-option>
          </mat-select>
        </mat-form-field>


        <span class=""><label class="small">Object List</label></span>
        <select class="form-control" multiple placeholder="Root Object">
          <option *ngFor="let object of case.get('objects').value" [value]="object">{{object.name}} - ({{object.type}})</option>
        </select>


        <button md-button class="btn btn-primary submit-btn" type="button" [disabled]="!case.valid">Create Case</button>






      </form>
    </div>


