

<div class="col-12">


  <h2>Case List</h2>
  <hr>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" value="open" [(ngModel)]='isOpen'>
    <label class="form-check-label">Open</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" value="closed" [(ngModel)]='isCLosed'>
    <label class="form-check-label">Closed</label>
  </div>

  <table class="table table-hover table-responsive">
    <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Source</th>
      <th>Status</th>
      <th>Last Update</th>
    </tr>
    </thead>
    <tbody>
    <tr class="clickable" *ngFor="let case of caseList " [routerLink]="['/case', case.sha256]">
      <td>{{case.sha256| slice:0:10}}</td>
      <td>{{case.source.type}}</td>
      <td>{{case.source.name}}</td>
      <td>{{case.status}}</td>
      <td>{{case.last_update}}</td>
    </tr>
    </tbody>


  </table>


</div>

