



<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" value="open" [(ngModel)]='statusFilter.open' (ngModelChange)='onStatusFilterChange()'>
  <label class="form-check-label">Open</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" value="closed" [(ngModel)]='statusFilter.close' (ngModelChange)='onStatusFilterChange()'>
  <label class="form-check-label">Closed</label>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Identifier</th>
    <th>Root Object</th>
    <th>Objects</th>
    <th>Status</th>
    <th>Last Updated</th>
  </tr>
  </thead>
  <tbody>
  <tr class="clickable" *ngFor="let case of filteredCases" [routerLink]="['/case', case.sha256]" tabindex="0">
    <td>{{case.sha256| slice:0:15}}</td>
    <td>{{case.identifier}}</td>
    <td>{{case.root.name}} ({{case.root.type}})</td>
    <td>{{case.objects}}</td>
    <td>{{case.status}}</td>
    <td>{{case.last_update.$date | date:'medium'}}</td>
  </tr>
  </tbody>


</table>

