




<div class="form-check form-check-inline" *ngFor="let filter of statusFilter | keyvalue">
  <input class="form-check-input" type="checkbox" [value]="filter.key" [(ngModel)]='statusFilter[filter.key]' (ngModelChange)='onStatusFilterChange()'>
  <label class="form-check-label">{{filter.key}}</label>
</div>


<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Identifier</th>
    <th>Root Object</th>
    <th>Objects</th>
    <th>Status</th>
    <th>Last Updated</th>
  </tr>
  </thead>
  <tbody>
  <tr
    class="clickable"
    tabindex="0"
    *ngFor="let c of filteredCases"
    (click)="onCaseSelected(c)"> <!--[routerLink]="['/case', case.sha256]" -->
    <td>{{c.sha256| slice:0:15}}</td>
    <td>{{c.identifier}}</td>
    <td>{{c.root.name}} ({{c.root.type}})</td>
    <td>{{c.objects}}</td>
    <td>{{c.status}}</td>
    <td>{{c.last_update.$date | date:'medium'}}</td>
  </tr>
  </tbody>


</table>

