
<hr>



<div class="row">



  <div class="col-12">



    <form #typeForm="ngForm" (ngSubmit)="addType(typeForm)">
      <h4>Create Type</h4>
      <div class="input-group mb-6">


        <!-- Input Type -->
        <div class="input-group-prepend">
          <span class="input-group-text">Type</span>
        </div>
        <input type="text" class="form-control" name="type" ngModel required>


        <!-- Input Description -->
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <input type="text" class="form-control" name="description" ngModel required>


        <button  class="btn btn-success">Add</button>

      </div>
    </form>

    <hr>

    <form #serviceForm="ngForm" (ngSubmit)="addService(serviceForm)">
      <h4>Create Service</h4>
      <div class="input-group mb-3">

        <div class="input-group-prepend">
          <span class="input-group-text" >Service</span>
        </div>
        <input type="text" class="form-control" name="service" ngModel required>

        <!-- Input Description -->
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <input type="text" class="form-control" name="description" ngModel required>

        <!--<select type="text" class="form-control" name="type" ngModel required>
          <option *ngFor="let type of analysis_tools | keyvalue" [ngValue]="type.value">{{type.key}}</option>
        </select>-->


        <button class="btn btn-success">Add</button>
      </div>
    </form>


  </div>

</div>

<hr>





<div class="row">

  <div class="col-4">

    <div class="card" *ngFor="let object_type of object_types;">
      <div class="card-header">
        Type: {{object_type.type}}

        <button  class="btn btn-danger float-right" (click)="deleteType(object_type)">
          <i class="material-icons">delete_forever</i>
        </button>
      </div>
      <div class="card-body">
        <h5 class="card-title"><code>{{object_type.description}}</code></h5>

        <!-- Services -->
        <button *ngFor="let service of services" class="btn"
                [ngClass]="{
                  'btn-danger': !typeHasService(service, object_type),
                  'btn-success': typeHasService(service, object_type)
                }" (click)="toggleServiceForType(service, object_type)">
          {{service.type}}
        </button>


      </div>
    </div>


  </div>
</div>
