<ngb-tabset type="pills" justify="fill">


  <ngb-tab title="Cases">
    <ng-template ngbTabContent>
      <hr/>
      <app-case-list></app-case-list>
    </ng-template>
  </ngb-tab>


  <ngb-tab title="Create Case">
    <!--<ng-template ngbTabTitle><b>Fancy</b> title</ng-template>-->
    <ng-template ngbTabContent>
      <hr/>
      <app-case-create></app-case-create>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Selected Case" [disabled]="true">
    <!--<ng-template ngbTabTitle><b>Fancy</b> title</ng-template>-->
    <ng-template ngbTabContent>
      <hr/>
      <app-case-create></app-case-create>
    </ng-template>
  </ngb-tab>

</ngb-tabset>





