
<div  *ngIf="case; else loading;">

  <div class="row">
    <div class="col-12">
      <h2 style="font-weight:normal; !important;">Case: <b>{{ case.identifier }}</b></h2>
      <b>Status:</b> {{case.status}}, <b>Root Object:</b> {{case.root.name}} - ({{case.root.type}})
    </div>
  </div>

  <hr>

  <div class="row">


    <div class="col-8">

      <div class="ng-if">
        <div class="row">

          <div class="col-lg-7" *ngIf="selectedObject">
            <dl class="row">
              <dt class="col-sm-3">Selected Object</dt>
              <dd class="col-sm-9">
                <input class="input" disabled type="text" [(ngModel)]="selectedObject.name" *ngIf="modifySelectedObject" (keypress)="updateSelectedObject($event)">
                <div *ngIf="!modifySelectedObject">{{selectedObject.name}}</div>
              </dd>

              <dt class="col-sm-3">Service</dt>
              <dd class="col-sm-9">
                <input class="input" disabled type="text" [(ngModel)]="selectedObject.type" *ngIf="modifySelectedObject" (keypress)="updateSelectedObject($event)">
                <div *ngIf="!modifySelectedObject">{{selectedObject.type}}</div>
              </dd>

              <dt class="col-sm-3">Depth</dt>
              <dd class="col-sm-9">
                <input
                  class="input"
                  type="number"
                  [(ngModel)]="selectedObject.depth"
                  *ngIf="modifySelectedObject"
                  (keypress)="updateSelectedObject($event)"
                >
                <div *ngIf="!modifySelectedObject">{{selectedObject.depth}}</div>
              </dd>

              <dt class="col-sm-3">Analyzed</dt>
              <dd class="col-sm-9">
                <span class="badge badge-danger"
                      *ngIf="!selectedObject.analyzed"
                      (click)="selectedObject.analyzed=!selectedObject.analyzed; updateSelectedObject({'key': 'Enter'})">No</span>
                <span class="badge badge-success"
                      *ngIf="selectedObject.analyzed"
                      (click)="selectedObject.analyzed=!selectedObject.analyzed; updateSelectedObject({'key': 'Enter'})">Yes</span>
              </dd>
            </dl>

            <div class="row">
              <button type="button" class="btn btn-sm btn-success btn-space" (click)="analyzeSelectedObject()">Analyze Object</button>
              <button
                type="button"
                class="btn btn-sm btn-info btn-space"
                (click)="modifySelectedObject = !modifySelectedObject">Modify Object
              </button>

              <button type="button" class="btn btn-sm btn-warning btn-space" (click)="selectedObject.analyzed=!selectedObject.analyzed; updateSelectedObject({'key': 'Enter'})">Toggle Analyzed</button>
              <button
                type="button"
                class="btn btn-sm btn-danger btn-space"
                (click)="deleteSelectedObject()"
                *ngIf="case.root._id.$oid != selectedObject._id.$oid"
              >Delete Object</button>
            </div>

          </div>

          <div class="col-lg-5">
            <span><label class="small" for="caseRootObject">Root Object</label></span>
            <select id="caseRootObject" [(ngModel)]="case.root" (ngModelChange)="updateCaseMetadata({'root': case.root})" class="form-control" placeholder="Modify root object">
              <option *ngFor="let caseObject of case.objects" [ngValue]="caseObject">{{caseObject.name}} - ({{caseObject.type}})</option>
            </select>

            <span><label class="small" for="caseStatus">Case Status</label></span>
            <select  id="caseStatus" [(ngModel)]="case.status" (ngModelChange)="updateCaseMetadata({'status': case.status})" class="form-control" placeholder="Modify case status">
              <option value="closed">Closed</option>
              <option value="open">Open</option>
              <option value="hold">Hold</option>
            </select>

            <span><label class="small" for="caseStatus">Analyze Objects</label></span>
            <button type="button" class="btn btn-sm btn-success btn-space form-control" (click)="analyzeCase()">Analyze all {{case.objects.length}} objects</button>
          </div>


        </div>

        <hr> <!-- Separator below Analyzed text -->





      </div>


      <div class="btn-group btn-group-lg" role="group" aria-label="...">



      </div>

    </div>





    <div class="col-4" >

      <h5>Objects</h5>

      <table class="table table-hover" (keydown)="scrollTable($event)" tabindex="0">
        <thead>
        <tr>
          <th>Depth</th>
          <th>Service</th>
          <th>Object</th>
          <th>Analyzed</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let object of case.objects; let i = index;"
          (click)="selectObject(object, i)"
          [ngClass]="{'table-primary': selectedObjectIndex  === i}">
          <td> {{ object.depth }}</td>
          <td>
            {{object.type}}
          </td>
          <td>
            {{object.name}}
          </td>

          <td>
            <span class="badge badge-danger" *ngIf="!object.analyzed" (click)="object.analyzed=!object.analyzed">No</span>
            <span class="badge badge-success" *ngIf="object.analyzed" (click)="object.analyzed=!object.analyzed">Yes</span>
          </td>
        </tr>


        </tbody>

      </table>


    </div>



  </div>
</div>

<ng-template #loading>Loading Case Data...</ng-template>
